*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end ;
    gap: 30px;
    padding: 0 40px;
}
#nav h4{
   font-size: 20px;
   font-weight: 600;
}
#nav i{
    font-size: 25px;
    background-color: black;
    color: rgb(243, 239, 239);
    padding: 8px;
    border-radius: 50px;
    font-weight: 500 ;
}
#center{
    width: 100%;
    padding: 40px 80px ;
}
#center h1{
    font-size: 4.5vw ;
    font-weight: 500;
    line-height: 4.4vw;
}
#center-in{
    height: 200px;
    width: 100%;
    margin-top: 50px ;
    display: flex;
    justify-content: space-between;
}
#center-in p{
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 1.8vw;
}
#right{
    width: 20%;
}
.elem{
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.elem:hover i{
opacity: 1;
}
#bottom{
    height: 35%;
    width: 100%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1706765779494-2705542ebe74?q=80&w=1951&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position:0 23%;
}

@media (max-width:600px) {
   #nav{
    height: 60px;
    gap: 22px;
    padding: 0 20px;
}

    #nav h4{
   font-size: 11px;
   font-weight: 600;
   
}
#nav i{
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 50px;
    font-weight: 500 ;
}
 
  #center{
    width: 100%;
    padding: 35px 20px ;
}
#center h1{
    font-size: 40px ;
    font-weight: 600;
    line-height: 14.5vw;
}
#center-in{
    height: 200px;
    width: 100%;
    margin-top: 10px ;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#center-in p{
    font-size: 3.5vw;
    font-weight: 500;
    line-height: 5.6vw;
    padding: 5px;
}
#right{
    width: 100%;
}
.elem{
    padding: 17px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem i{
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
}
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

#bottom{
    height: 37%;
    width: 100%;
    margin-top: 60px;
    background-image: url(https://images.unsplash.com/photo-1706765779494-2705542ebe74?q=80&w=1951&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position:0 23%;
}

}
